$light_grey: #d9d9d9;
$text_color: #434343;
$white: #fff;
 $button_color: #51bb7b;
 $button_focus: #52864b;
$header_background:  #9f9c9c;
$header_border: #b0e0ea;
$sidebar_background: #f9f9f9;
$sidebar_border: #A78EB3;
$main_h1: rgb(80, 198, 219);
$main_p: #8b7f7f;
$sidebar-related_a: #838383;


    