@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9d9d9;
  color: #434343;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  max-width: 757px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 30px;
}
.container .logo i {
  font-size: 1.4em;
  color: #50c6db;
  font-weight: 200;
}
.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/6;
  grid-row: 1/2;
  border-bottom: 2px solid #b0e0ea;
  height: 50px;
  color: #9f9c9c;
  padding: 20px 0;
}
.container header nav ul {
  display: flex;
  list-style-type: none;
}
.container header nav ul li {
  margin: 0.5em;
}
.container header nav ul li a {
  font-size: 0.7em;
}
.container header .login, .container header .login:active {
  background-color: #51bb7b;
  color: #fff;
  padding: 3px 5px;
  border-radius: 1.3em;
  border-style: none;
  outline: none;
  width: 53px;
  height: 19px;
  font-size: 9px;
  margin-right: 26px;
}
.container header .login:active, .container header .login:active:active {
  background-color: #51bb7b;
  color: #fff;
}
.container header .login:focus, .container header .login:active:focus {
  background-color: #52864b;
}
.container .hero {
  grid-column: 1/2;
  grid-row: 2/3;
}
.container .hero img {
  width: 100%;
}
.container .sidebar {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #f9f9f9;
  padding: 0.3em;
  border-top: 3px solid #A78EB3;
  height: 130px;
}
.container .sidebar h6 {
  margin: 1em 0;
  padding: 0 0 0 10px;
}
.container .sidebar ul {
  list-style-type: none;
  padding: 0 0 0 10px;
}
.container .sidebar ul li {
  margin: 0 0 -5px 0;
}
.container .sidebar ul li a {
  font-size: 0.5em;
  font-weight: 500;
}
.container main {
  grid-column: 2/5;
  grid-row: 2/3;
}
.container main h1 {
  color: #50c6db;
  font-weight: 700;
  font-size: 1.3em;
  margin: 0 0 0.5em 0;
  letter-spacing: 0;
}
.container main p {
  color: #8b7f7f;
  margin: 0.7em 0;
  font-size: 0.6em;
}
.container .help {
  grid-column: 2/5;
  grid-row: 3/4;
  display: flex;
  justify-content: space-around;
  border: 1.5px solid #d9d9d9;
  padding: 0.7em;
  height: 85px;
  margin: 45px 0 0 0;
}
.container .help .help_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container .help .help_item h3 {
  font-weight: 600;
  font-size: 0.7em;
}
.container .help .help_item p {
  margin: 0.75em 0;
  font-size: 0.5em;
}
.container .help .help_item button {
  border: 1.5px solid #50c6db;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  padding: 0.4em;
  color: #50c6db;
  font-size: 8px;
  width: 30px;
  height: 30px;
}
.container .gallery {
  grid-column: 1/3;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-column-gap: 1.5em;
  grid-row-gap: 0.5em;
}
.container .gallery div {
  width: 100px;
  height: 100px;
}
.container .gallery div img {
  width: 100%;
}
.container .sidebar_related {
  grid-column: 3/4;
  grid-row: 5/6;
  margin: 0 0 0 20px;
}
.container .sidebar_related h3 {
  margin: 0 0 0.3em 0;
  padding: 0 0 0.3em 0;
  border-bottom: 1px solid #d9d9d9;
  font-size: 15px;
}
.container .sidebar_related ul {
  margin: 0 0 0 1.1em;
}
.container .sidebar_related ul li {
  font-size: 0.75em;
}
.container .sidebar_related ul li a {
  font-size: 0.75em;
  color: #838383;
  font-weight: 500;
  margin: 0 0 0 0.2em;
}
.container footer {
  grid-column: 1/5;
  grid-row: 6/7;
  text-align: center;
  background-color: #9f9c9c;
  padding: 0.5em 0;
}
.container footer h3 {
  color: #fff;
  margin: 0 0 0.5em 0;
  font-size: 11.7px;
}
.container footer p {
  margin: 0 0 0.6em 0;
  font-size: 0.55em;
}

@media screen and (max-width: 568px) {
  .container {
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "header" "sidebar" "main" "help" "sidebar_related" "gallery" "footer";
    grid-template-columns: 100%;
  }
  .container .logo i {
    font-size: 1.6em;
    color: #50c6db;
    font-weight: 200;
  }
  .container header {
    grid-area: header;
  }
  .container header nav ul li a {
    font-size: 0.9em;
  }
  .container header .login {
    width: 60px;
    height: 23px;
    font-size: 11px;
    margin-right: 0;
  }
  .container .hero {
    display: none;
  }
  .container .sidebar {
    grid-area: sidebar;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .container .sidebar ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .container .sidebar ul li {
    display: inline;
  }
  .container .sidebar ul li a {
    font-size: 0.7em;
  }
  .container .sidebar h6 {
    text-align: center;
    justify-self: center;
  }
  .container main {
    grid-area: main;
  }
  .container main p {
    font-size: 0.8em;
  }
  .container .help {
    grid-area: help;
    height: auto;
  }
  .container .help .help_item h3 {
    font-size: 0.76em;
  }
  .container .help .help_item p {
    font-size: 0.75em;
  }
  .container .help .help_item button {
    font-size: 10.3px;
    width: 40px;
  }
  .container .gallery {
    grid-area: gallery;
  }
  .container .sidebar_related {
    grid-area: sidebar_related;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
  .container .sidebar_related ul {
    display: flex;
    justify-content: space-around;
    width: 200px;
  }
  .container .sidebar_related ul li {
    display: inline-block;
  }
  .container .sidebar_related ul li a {
    font-size: 0.95em;
    color: #838383;
    font-weight: 500;
  }
  .container .sidebar_related h3 {
    font-size: 17px;
    text-align: center;
  }
  .container footer {
    grid-area: footer;
  }
  .container footer h3 {
    font-size: 15px;
  }
  .container footer p {
    font-size: 0.75em;
  }
}

/*# sourceMappingURL=style.css.map */
